# tensorflow~=2.16
# transformers~=4.38
altair~=5.2
attrs~=23.2
boto3~=1.34
Faker~=24.4
hvplot~=0.11
ipykernel~=6.29
ipywidgets~=8.1
jupyter~=1.0
matplotlib~=3.8
nltk~=3.8
numpy~=1.26
pandas~=2.2
pandera~=0.18
polars~=0.20
pyarrow~=17.0
python-dotenv==1.0.1
requests~=2.32
scikit-learn~=1.5
statsmodels~=0.14
typer~=0.9